* {
    box-sizing: content-box;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B0C10;
}

.start_section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;

}

.start_title {
    margin-bottom: 8rem;
    width: 1000px;
}

.start_title h1 {
    font-size: 5rem;
    margin: 0;
    /* color: #66FCF1; */
    /* color: rgb(0, 212, 255,); */
    /* color: #3cffd2; */
    color: rgb(60, 255, 210);
    text-shadow: 0 0 10px #3cffd2;

}

.start_title p {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: #C5C6C7;
}

.container_cube {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 500rem;
    transform-style: preserve-3d;
    transform: perspective(900px) rotateX(10deg) rotateY(10deg);
    transition: transform 1.5s;
    animation: rotateCube 10s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ... остальной CSS код остается без изменений */
.face {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(rgba(60, 255, 210, 0.9), rgba(0, 212, 255, 0.9));
    /* Градиентный фон для свечения по центру */
    border: 1px solid #eeeeee;
    box-shadow: 0 0 30px rgba(0, 212, 255, 0.9);
    /* backface-visibility: hidden; */
}

.shadow_cube {
    width: 200px;
    /* Такой же размер, как и .cube */
    height: 20px;
    /* Высота тени */
    background-color: #0b0c1000;
    position: absolute;
    bottom: 0;
    left: 27%;
    right: 0;
    top: 150px;
    /* Располагаем тень под .cube */
    box-shadow: 0px 200px 100px rgb(0, 212, 255, 0.9);
    /* Убрал сдвиги по X и Y и увеличил размытие */
}


.front {
    transform: rotateY(0deg) translateZ(100px);
    box-shadow: 0 0 50px rgba(0, 212, 255, 0.9);
}

.back {
    transform: rotateY(180deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

/* About */

.about_section {
    padding: 2rem 0;
}

.about_title {
    width: 70%;
    margin: auto;
    padding: 5rem 0;
}

.about_title h1 {
    font-size: 4rem;
    margin-top: 0;
    color: rgb(60, 255, 210);
    text-align: center;
}

.about_title p {
    font-size: 2rem;
    margin: 0;
    color: #C5C6C7;
}

/* skils */
.my_initial_skil {
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.cube_1skil {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 00rem;
    transform-style: preserve-3d;
    transform: perspective(900px) rotateX(10deg) rotateY(10deg);
    transition: transform 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    background-image: url(../img/JavaScript-Logo.png);
}

.cube_1skil_main {
    margin-bottom: 2rem;
}

.face_1skil {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(rgba(60, 255, 210, 0.9), rgba(0, 212, 255, 0.9));
    /* Градиентный фон для свечения по центру */
    border: 1px solid #eeeeee;
    box-shadow: 0 0 30px rgba(0, 212, 255, 0.9);
    /* backface-visibility: hidden; */
    margin: 0;
    padding: 0;
    border: none;
}

.front_1skil_img img {
    width: 175%;
    height: 100%;
}

.front_2skil_img img {
    width: 175%;
    height: 120%;
}

.front_3skil_img img {
    width: 150%;
    height: 100%;
}

.front_1skil {
    transform: rotateY(0deg) translateZ(50px);
    box-shadow: 0 0 50px rgba(0, 212, 255, 0.9);
    /* background: url('../img/antd_log.png') center cover/no-repeat !important; */
    /* background-color: red; */
}

.back_1skil {
    transform: rotateY(180deg) translateZ(50px);
}

.left_1skil {
    transform: rotateY(-90deg) translateZ(50px);
}

.right_1skil {
    transform: rotateY(90deg) translateZ(50px);
}

.top_1skil {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom_1skil {
    transform: rotateX(-90deg) translateZ(50px);
}

/*  */
.my_subsequent_skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

/* js skil */
.my_subsequent_skills_js,
.my_subsequent_skills_css,
.my_subsequent_skills_html {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    height: fit-content;
}

.cube_skil_container {
    display: grid;
    gap: 2rem;
    min-height: 100px;
    height: fit-content;
    position: relative;
}

.cube_skil_separt_container {
    display: grid;
    gap: 2rem;
    min-height: 100px;
    height: fit-content;
    margin-top: 10rem;

}

.line:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: rgb(0, 212, 255, 0.5);
    top: -60px;
    left: 50px;
    transform: translateX(-50%) translateY(-50%);
    z-index: -3;
}

.line_left:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 7rem;
    background-color: rgb(0, 212, 255, 0.5);
    top: -60px;
    left: 50px;
    transform: rotate(40deg) translateX(-50%) translateY(-50%);
    z-index: -3;
}

.line_right:after {
    content: "";
    position: absolute;
    border-top-right-radius: 50%;
    width: 10px;
    height: 7rem;
    background-color: rgb(0, 212, 255, 0.5);
    top: -60px;
    left: 50px;
    transform: rotate(-40deg) translateX(-50%) translateY(-50%);
    z-index: -3;
}

.front_skil_js_img img {
    width: 95%;
    height: 97%;
}

.front_skil_fig_img img {
    width: 75%;
    height: 95%;
}

.front_skil_git_img img {
    width: 120%;
    height: 95%;
}

.front_skil_nod-fire_img img {
    color: #0B0C10;
    width: 80%;
    height: 95%;

}

.flex_skil {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.grid_skil {
    display: grid;
    gap: 3rem;
}

.time_skil {
    text-align: center;
    font-size: 1rem;
    margin: auto 0;
    color: #C5C6C7;
    z-index: 4;
}

/* проекты */

.project_Container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: .5s;
}

.project_Container:only-child {
    width: 30%;
}

.link-site {
    text-decoration: none;
    color: none;
    transition: .5s;
    margin: 0 70px;
}

.project_card {
    position: relative;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    transition-timing-function: linear;
    box-shadow: -40px 40px 10px rgba(0, 212, 255, 0.9);
    background: linear-gradient(rgba(60, 255, 210, 0.9), rgba(0, 212, 255, 0.9));
}

.project_card::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 20px;
    height: 100%;
    background: linear-gradient(rgba(60, 255, 210, 0.9), rgba(0, 212, 255, 0.9));
    transform-origin: bottom;
    transform: rotate(0) skewY(-45deg);
    transition: .5s;
}

.project_card::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    width: 100%;
    height: 20px;
    background: linear-gradient(rgba(60, 255, 210, 0.9), rgba(0, 212, 255, 0.9));
    transform-origin: left;
    transform: rotate(0) skewX(-45deg);
    transition: .5s;
}

.progect_title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(60, 255, 210, 0.9), rgba(0, 212, 255, 0.9));
    z-index: 1;
}

.progect_title p {
    font-size: large;
    padding: 0 2rem;
    color: #0B0C10;
}

.progect_content {
    position: relative;
    width: 100%;
    height: 250px;
    background: linear-gradient(0deg, rgba(60, 255, 210, 0.9), rgba(0, 212, 255, 0.9));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.project_card:nth-child(1) {
    z-index: 3;
    background: url('../img/site-imge/marvelSite.png') center/cover no-repeat;
}

.project_card:nth-child(2) {
    z-index: 2;
}

.project_card:nth-child(3) {
    z-index: 1;
}

.website_card {
    width: 170px;
    height: 200px;
    background-color: #C5C6C7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.website_card-1,
.website_card-2,
.website_card-3 {
    height: 250px;
    border-radius: 0;
    align-items: flex-start;
}

.website_card-1 {
    background: url('../img//site-imge/marvelSite.png') center/cover no-repeat;
}

.website_card-2 {
    background: url('../img//site-imge/FINSite.png') center/cover no-repeat;
}

.website_card-3 {
    background: url('../img//site-imge/Снимок\ экрана\ 2024-06-25\ 175947.png') center/cover no-repeat;
}

.website_card img {
    width: 100%;
    height: 100%;
}

.progect_content h1 {
    color: #45A29E;
    font-size: 2rem;

}

.progect_content p {
    color: #45A29E;
    font-size: 2rem;
    transition: .5s;

}

.link-site:hover p {
    transform: rotateX(10deg) skewX(-45deg) translateY(-150px);

}

@keyframes rotateCube {
    0% {
        transform: perspective(900px) rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: perspective(900px) rotateX(360deg) rotateY(360deg);
    }
}

.expl_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
}

/* .expl_cont img{

} */
.expl_block {
    width: 600px;
}

.expl_block p {
    color: #C5C6C7;
}

/*  */
.contact {
    width: 100%;
    margin-top: 20px;
    height: fit-content;
    padding: .5rem 0rem;
    background-color: #1F2833;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 40px;
}

.contact_block p {
    color: #C5C6C7;
    font-size: 18px;
    margin-right: 5px;
}

.contact_block ul {
    position: relative;
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.contact_block ul li a {
    text-decoration: none;
    color: #C5C6C7;
}

.fa-brands {
    font-size: 20px;
    color: #C5C6C7;
}

/* opyt */
.list-expense li {
    color: #C5C6C7;
}